<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/reg_numbers.css">
  </head>
  <body>
    <div class="container">
      {{{body}}}

      <script>
        document.addEventListener('DOMContentLoaded', function(){
          let notSuccessful = document.querySelector('.error');
          let successful = document.querySelector('.successfulMessage');

          if(notSuccessful || successful){
            setTimeout(function(){
              notSuccessful.innerHTML = '';
              successful.innerHTML = '';
            }, 2000);
          }
        })
      </script>
  </body>
</html>
