<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/reg_numbers.css">
  </head>
  <body>
    <div class="container">
        <div class="inner_container">
            <div class="row">
                <div class="box shadow">

                    

                    <div class="forms-container">
                        <form action="/addRegnumber" method="POST" class="clearfix">

                        <h3>Registration Numbers</h3>
                    <p>Please enter registration numbers as below: 
                    </p>
                    <p>CA 245852 OR CK 245852 OR CL 245852</p>
                    <div class="error">
                            {{messages.error}}
                        </div>
                        <span class="successfulMessage">
                        {{messages.successfulMessage}}
                    </span>
                        <input class="enteredReg" name="enteredReg" type="text" placeholder="CA 245852" value=""
                         />
                        <div class="addbtns">
                            <div class="btn-container">
                                <button class="addBtn btnStyles btn-mobile-width" name="add" type="submit">ADD</button>
                                <a href="/reset"><button class="button clear btn-mobile-width" type="button" name="deleteData">RESET</button></a>
                            </div>

                        </div>

                    </form>

                    <form action="/filterBy" method="POST">
                        <div class="row clearfix">
                            <h3>Filter by a town</h3>
                             <div class="filter-content center-content">
                                 <div class="row townName">
                                <label>Cape Town CA</label>
                                <input type="radio" name="town" class="selectTown" value="CA">
                            </div>
                            <div class="row townName">
                                <label>Malmesbury CK</label>
                                <input type="radio" name="town" class="selectTown" value="CK">
                            </div>
                            <div class="row townName">
                                <label>Stellenbosch CL</label>
                                <input type="radio" name="town" class="selectTown" value="CL">
                            </div>

                             </div>   

    
                        </div>
                        <div class="row">
                        <div class="btn-container">
                            <button class="buttonShow" name="showbytown" type="submit">Show By Town</button>
                        </div>
                        </div>
                        
                    </form>
                    <form action="/showAll" method="POST" class="btn-container">
                        <button class="buttonShowAll" name="showall" type="submit">SHOW ALL</button>

                    </form>
                    <ul class="printRegNumber center-content">
                            {{#each eachRegNo}}
                            <li>{{this.entered_regs}}</li>
                            {{/each}}  
                        </ul>

                        <ul>
                            {{#each townReg}}
                            <li>{{this.entered_regs}}</li>
                            {{/each}}  
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>
